/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: #FF5733;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.cta-button:hover {
    background-color: #E64A19;
}

section {
    padding: 2rem;
}

.about, .history {
    background-color: #f8f8f8;
}

section h2 {
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.box {
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.box h2 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box p {
    padding: 1rem;
}

.sticky-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease; /* Apply transition to all properties */
}

.sticky-header.smaller {
    padding: 0.5rem;
}